b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.idea

pids
logs
results
build

npm-debug.log
node_modules

aws-keys.json
.DS_Store


*.iml
*.sublime-project
*.sublime-workspace

release
buildversion
version.prop
npm-shrinkwrap.json

test/reports
.npmrc
